<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="reset.css">

</head>

<body>
  <div class="container">

    <div class="jumbotron text-center border-bottom">
      <h1 class="font-weight-bold">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-md" href="../scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><u>Latest Mars News</u></h2>
      </div>
      
    </div>
  </br>
    <div class="row">
      <div class="col-md-12">
        <h4>{{mars.news_title}}</h4>
        <p>{{mars.news_p}}</p>
      </div>
    </div>
    <div class="border">
        </br>
        <h5>Current Weather on Mars</h5>
        {{mars.mars_weather}}
    </div>
  <hr>
    <div class="row">
      <div class="col-md-8 border">
        <h2 class=""><u>Featured Mars Image</u></h2> 
        </br>
        <img class="col-md-12 border" src="{{mars.featured_image_url}}" alt="Features Mars Image">
      </div>
      <div class="col-md-4">
        
        </br>
        <div class="card">
          <h3>Mars Facts</h3>
            {{ mars.fact_table | safe}}
        </div>
      </div>
    </div>
  <hr>
    <div class="row">
      <div class="col-md-8 offset-4">
        <h2 class="align-items-center"><u>Mars hemispheres</u></h2>  
      </div>
    </div>
    </br>
    <div class="row">       
            {% for hem in mars.hemisphere_images %} 
              <div class="col-6 border">
              </br>
                    <div>
                      <img width="512 px" height="512 px" src="{{hem.image_url}}">
                    </div>

                    <div>
                      <h4> {{hem.title}} </h4>  
                    </div>
            
              </div>
            {% endfor %}
    </div> 

  <hr>
  <footer class="footer">
    <span class="bottom">Mars Explore</span>
    <div class="footer">&copy; Copyright Xinliang Huang 2020
  
    </div>
  </footer>
</body>

</html>

